<!-- Image and text -->
<nav class="navbar navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" (click)="ngOnInit()">
	<!--<img src="/docs/4.0/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt=""> -->
	<h2 class="text-center" >Aplicacion de tareas</h2>
  </a>
</nav>

<!--PARA LISTAR LOS ESTADOS POR LOS QUE FILTRAR-->
<h6 class="mt-2 ml-5">Filtrar tareas</h6>
<div class="btn-group mt-2 ml-5 mb-5" role="group" aria-label="Basic example">
	<button type="button" class="btn btn-success active" (click)="filtrarTareas('Completada')">Completada</button>
	<button type="button" class="btn btn-danger" (click)="filtrarTareas('Pendiente')">Pendiente</button>
	<button type="button" class="btn btn-warning" (click)="filtrarTareas('InProgress')">InProgress</button>
</div>
<!--FIN PARA LISTAR LOS ESTADOS POR LOS QUE FILTRAR-->


<!--PARA RECOGGER LA DESCRIPCION Y EL ESTADO DE LA NUEVA TAREA-->
<div class="input-group mb-3 mt-1 ml-5">
	<button class="btn btn-primary mr-1" type="button" (click)="nuevaTarea(descripcion.value, estado.value)">Nueva tarea</button>
	<input type="text" class="form-control mr-2" maxlength="250" placeholder="descripcion de la tarea" aria-label="" aria-describedby="basic-addon1" #descripcion>
	<input type="text" class="form-control mr-5" placeholder="estado" aria-label="" aria-describedby="basic-addon1" #estado>
</div>
<!--FIN PARA RECOGGER LA DESCRIPCION DE LA NUEVA TAREA-->

<!--PARA MOSTRAR TODAS LAS TAREAS, EN FORMA DE TARJETAS, RECORRIENDO EL FOR-->
<div class="card-columns mt-2 ml-5 mr-5">
	<!--Article es para incluir contenido independiente -->
	<article class="card w-100" *ngFor="let task of tasks">
		<!--Body de la tarjeta-->
		<div class="card-body"> <!--*ngIf="tasks.length !=0; else noTask" *ngIf="tasks[0].id === 1; else noTask"-->
			<h5 class="card-title">
				{{task.id}}
				<a class="btn btn-light ml-2" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
					{{task.estado}}
				</a>
			</h5>
			<!--Collapse para elegir un estado nuevo y cambiarlo-->
			<div class="collapse" id="collapseExample">
				<div class="btn-group mt-2" role="group" aria-label="Basic example">
					<button type="button" class="btn btn-success active" (click)="cambiarEstadoTarea(task.id, task.descripcion, 'Completada')">Completada</button>
					<button type="button" class="btn btn-danger" (click)="cambiarEstadoTarea(task.id, task.descripcion, 'Pendiente')">Pendiente</button>
					<button type="button" class="btn btn-warning" (click)="cambiarEstadoTarea(task.id, task.descripcion, 'InProgress')">InProgress</button>
				</div>
			</div>
			<!--Fin Collapse para elegir un estado nuevo y cambiarlo-->
			
			<!--Mostrar la descripcion de la tarea-->
			<p class="card-text">{{task.descripcion}}</p>

			<!--Boton para borrar tarea-->
			<a (click)="borrarTarea(task.id)" class="btn btn-primary">Borrar tarea</a>

		</div>
		<!--Fin Body de la tarjeta-->

		<!--En caso de que no haya tareas que mostrar-->
		<ng-template #noTask>
			No hay tareas que mostrar
		</ng-template>

	</article>
	<!--Fin del Article es para incluir contenido independiente -->

</div>
<!-- FIN PARA MOSTRAR TODAS LAS TAREAS, EN FORMA DE TARJETAS, RECORRIENDO EL FOR-->

<!-- Modal 
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
	Borrar Tarea
</button>
<div class="modal fade" id="exampleModal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Atencion</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				Confirma que quieres borrar la tarea con id {{task.id}}
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
				<a (click)="borrarTarea(task.id)" class="btn btn-primary">Borrar tarea</a>
			</div>
		</div>
	</div>
</div>
 FIN Modal -->
